.slick-slide .s100 {
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  }
.slick-slide .s90 {
  opacity: 0.90; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
.slick-slide .s80 {
  opacity: 0.80;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.slick-slide .s70 {
  opacity: 0.70; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.slick-slide .s60 {
  opacity: 0.60;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.slick-slide .s50 {
  opacity: 0.50; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;  
}
.slick-slide .s40 {
  opacity: 0.40; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;  
}
.slick-slide .s30 {
  opacity: 0.30; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;  
}
.slick-slide .s20 {
  opacity: 0.20; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;  
}
.slick-slide .s10 {
  opacity: 0.10; 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;  
}
.slick-slide:hover .h100 {
  opacity: 1 !important;
  cursor: pointer;}
.slick-slide:hover .h90 {
  opacity: 0.90 !important;
  cursor: pointer;}
.slick-slide:hover .h80 {
  opacity: 0.80 !important;
  cursor: pointer;}
.slick-slide:hover .h70 {
  opacity: 0.70 !important;
  cursor: pointer;}
.slick-slide:hover .h60 {
  opacity: 0.60 !important;
  cursor: pointer;}
.slick-slide:hover .h50 {
  opacity: 0.50 !important;
  cursor: pointer;}
  .slick-slide:hover .h40 {
  opacity: 0.40 !important;
  cursor: pointer;}
.slick-slide:hover .h30 {
  opacity: 0.30 !important;
  cursor: pointer;}
.slick-slide:hover .h20 {
  opacity: 0.20 !important;
  cursor: pointer;}
.slick-slide:hover .h10 {
  opacity: 0.10 !important;
  cursor: pointer;}
.qcimage img {
  max-width:100%;
  height:auto;
  position: relative;
}
.slick-slide a {
  opacity:1 !important;
}

section.qc {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: .5em;
  color: white;
}
div.qcoverlay {
  display: block;
  position:absolute;
  z-index:10;
  width: 100%;
  height: 100%;
  color: white;
  text-align:center;
  margin:auto;
  opacity: 0 !important;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
}
div.qcoverlay:hover {
  opacity: 1 !important;
}
.qczoom {
  opacity:0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
}
.qczoom:hover {
  opacity:1 !important;
  z-index:10 !important;
}
.qczoom i {
  width:80px;
  height:80px;
  margin:auto;
  background: #3672AB;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
line-height: 80px;
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.qczoom i {
  font-size:42px;
  text-decoration:none;
  color:#fff !important;
  padding:0px;
  margin:auto;
  display:block;
}
.qczoom a i {
  margin-left:5px;
}
.qczoom .icon-link {
  line-height: 85px;
}